/* Public/css/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Votre propre CSS peut être ajouté après les imports */
body {
    background-color: rgba(210, 215, 216, 0.575);
    /* background-color: rgb(5, 42, 60); */
  }

:root {
    /*color*/
    --c33- : #333;
    --rgb-c33- : rgba(0, 0, 0, 0.4);
    --c33-dark- : rgb(40, 40, 40);
    --eee- : #eee;
    --ffe- : rgb(94, 137, 145);
    --green- : rgb(77, 188, 77);
    --rgb-green- : rgb(21, 130, 21);

    /*rem*/
    --rem_1- : .1rem;
    --rem_2- : .2rem;
    --rem_3- : .3rem;
    --rem_4- : .4rem;
    --rem_5- : .5rem;
    --rem_6- : .6rem;
    --rem_7- : .7rem;
    --rem_8- : .8rem;
    --rem_9- : .9rem;
    --rem1- : 1rem;
    --rem1_2- : 1.2rem;
    --rem1_5- : 1.5rem;
    --rem1_8- : 1.8rem;
    --rem2- : 2rem;
}

::-webkit-scrollbar {
    width: var(--rem_5-);
}

::-webkit-scrollbar-thumb{
    border: var(--rem_1-) solid var(--eee-);
    border-radius: .5em;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--rgb-green-);
}

.flex {
    display: flex;
}

.green {
    color: var(--green-);
}

#id,
#paragraph,
#paragraphe, 
#paragraphes {
    flex-basis: 100%;
    display: none;
    justify-content: center;
}

.subscribe>a {
    color: var(--eee-);
}

body {
    background-color: var(--c33-);
    color: var(--eee-);
    margin: 0;  
}

a {
    text-decoration: none;
}

/********************************************
Inscription || Connexion
********************************************/
.big_parent {
    max-width: 30%;
    margin: 8% auto;
    padding: var(--rem_6-);
    color: var(--eee-);
    border: var(--rem_1-) solid var(--eee-);
    box-shadow: 0 .3em .4em 0 var(--eee-);
}

.top {
    margin-top: 12%;
}

.big_parent_section {
    max-width: 70%;
    margin: 0 auto;
}

.list {
    list-style: none;
    padding: 0;
    justify-content: space-between;
}

.list>li {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--eee-);
    width: var(--rem1_8-);
    height: var(--rem2-);
    color: var(--c33-);
}

.list>.active {
    background-color: var(--green-);
    color: var(--eee-);
}

.parent_form {
    color: var(--eee-);
    max-width: 45%;
    margin: 0 auto;
    padding: var(--rem_6-);
    justify-content: center;
    flex-wrap: wrap;
}

.parent_form>form {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: var(--rem_6-);
    border: var(--rem_1-) solid var(--eee-);
    border-radius: var(--rem1-)
}

.parent_form>form>h3 {
    margin-block: var(--rem_3-);
}

.parent_form>form>input,
.parent_form>form>select {
    flex-basis: 100%;
    padding: var(--rem_8-) var(--rem_6-);
    background-color: var(--c33-);
    border: var(--rem_1-) solid var(--eee-);
    color: var(--eee-);
    outline: none;
}

.back,
.parent_form>form>.validate,
.parent_form>form>input,
.parent_form>form>select {
    border-radius: var(--rem_4-);
}

.parent_form>form>input[type="file"] {
    border: var(--rem_1-) solid var(--eee-);
}

.radio:not(:first-child),
.parent_form>form>.validate,
.parent_form>form>input:not(:first-child),
.parent_form>form>select:not(:first-child) {
    margin-top: var(--rem1_5-);
}

.back {
    display: none;
    flex-basis: 30%;
    padding: var(--rem_8-) var(--rem_6-);
    border: none;
    background-color: var(--c33-);
    border: var(--rem_1-) solid var(--eee-);
    color: var(--eee-);
    font-size: var(--rem1_2-);
    cursor: pointer;
}

.parent_form>form>.validate {
    flex-basis: 60%;
    padding: var(--rem_8-) var(--rem_6-);
    border: none;
    background-color: var(--green-);
    color: var(--eee-);
    font-size: var(--rem1_2-);
    cursor: pointer;
}

.parent_form>form>.validate:hover {
    background-color: var(--rgb-green-);
}

.condition {
    justify-content: center;
    gap: var(--rem_4-);
}

.condition>a {
    color: var(--eee-);
}

/*****************************************
Space
*****************************************/
.header {
    background-color: var(--c33-dark-);
    border-bottom: var(--rem_1-) solid var(--eee-);
    box-shadow: 0 0 .4em 0 var(--eee-);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}
.position {
    max-width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.position>h1>a {
    color: var(--eee-);
}

.position>nav {
    flex-basis: 50%;
}

.topul {
    justify-content: space-around;
    list-style: none;
}

.active {
    background-color: var(--green-);
    border-radius: var(--rem_4-);
}

.topul>li>a {
    color: var(--eee-);
    font-size: var(--rem1_2-);
    padding: var(--rem_8-) var(--rem_6-);
}

.topul>li>a:hover {
    background-color: var(--rgb-green-);
    border-radius: var(--rem_4-);
}

.width {
    max-width: 70%;
    margin: 1% auto;
}

.story>h2,
.images {
    max-width: 100%;
}

.story>h2 {
    margin: 1% auto;
}

.images {
    margin: 0 auto;
    gap: var(--rem1-);
    overflow-x: scroll;
    padding: var(--rem_4-) var(--rem_7-);
}

.add_file {
    position: absolute;
    bottom: 30px;
    left: 10px;
    gap: var(--rem_8-);
    justify-content: center;
    align-items: center;
}

.delete_story {
    position: absolute;
    bottom: 30px;
    right: 0;
}

.delete_story>button {
    font-size: var(--rem1_2-);
    background-color: var(--green-);
    border-radius: 50%;
    width: 45px;
    height: 50px;
    border: none;
    cursor: pointer;
    color: var(--eee-);
}



.add_file>input[type="file"] {
    display: none;
}

.add_file>button,
.file {
    background-color: var(--green-);
    font-size: var(--rem1_2-);
    border-radius: 50%;
    width: 45px;
    height: 50px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.add_file>button {
    border: none;
    color: var(--eee-);
}

.add_file>button:hover,
.file:hover,
.delete_story>button:hover {
    background-color: var(--rgb-green-);
}

.image_story {
    position: relative;
    flex-basis: 20%;
    border-radius: var(--rem_4-);
    cursor: pointer;
}

.image_story>img,
.images>figure>img {
    width: 300px;
    height: 390px;
    border-radius: var(--rem_4-);
}

.image_story>h3 {
    position: absolute;
    bottom: 5px;
    left: 10px;
    background-color: var(--green-);
    padding: var(--rem_4-);
    border-radius: var(--rem_4-);
    color: var(--c33-);
}

.height>img {
    height: 100%;
}

.publication {
    flex-wrap: wrap;
    margin-top: var(--rem1_2-);
    border-bottom: var(--rem_1-) solid var(--eee-);
}

.author {
    align-items: center;
    gap: var(--rem_4-);
}

.publication>.author>img {
    aspect-ratio: 1;
    width: 80px;
    height: 90px;
    border-radius: 50%;
    cursor: pointer;
}

.order1 {
    order: 1;
}

.order2 {
    order: 2;
}

.author>h3 {
    cursor: pointer;
}

.publication>.publish {
    flex-basis: 100%;
    gap: var(--rem1-);
    margin-top: var(--rem_8-);
}

.publish {
    margin-bottom: var(--rem_5-);
}

.publish>div {
    flex-basis: 52%;
}

div.image_publish {
    height: auto;
    border-radius: var(--rem_4-);
}

div>.image_publish>img {
    width: 100%;
    height: 75vh;
    border-radius: var(--rem_4-);
    cursor: pointer;
}

.flex_publish {
    align-items: center;
    justify-content: space-between;
}

.flex_publish>a,
.flex_like>form>button {
    color: var(--eee-);
}

.flex_publish>a {
    font-size: var(--rem1_2-);
}

.flex_like {
    align-items: center;
    gap: var(--rem_4-);
}

.flex_like>form>button {
    border: none;
    cursor: pointer;
    background-color: var(--c33-);
    font-size: var(--rem1_8-);
}

.description {
    flex-basis: 45%;
    text-align: justify;
    font-size: var(--rem1_2-);
    overflow-y: scroll;
    height: 800px;
}

.images>figure {
    margin: 0;
    border: var(--rem_1-) solid var(--eee-);
    border-radius: var(--rem_4-);
    padding: var(--rem_2-);
}

.images>figure>figcaption>h3 {
    cursor: pointer;
}

.images>figure>figcaption>form>button {
    width: 100%;
    padding: var(--rem_6-) var(--rem_7-);
    background-color: var(--c33-);
    border: var(--rem_1-) solid var(--eee-);
    color: var(--eee-);
    border-radius: var(--rem_4-);
    cursor: pointer;
}

.images>figure>figcaption>form>button:hover {
    background-color: var(--c33-dark-);
}

.modal {
    position: fixed;
    display: none;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    overflow: auto;
    background-color: var(--rgb-c33-);
    padding-top: 60px;
}

.modal>h2
{
    max-width: 25%;
    margin:  3% auto 0;
    border-bottom: var(--rem_1-) solid var(--eee-);
}
.animate {
    -webkit-animation: mouvement 0.6s;
    animation: mouvement 0.6s
}

.closes {
    position: fixed;
    top: 11%;
    left: 62%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
    background-color: var(--green-);
    color: var(--eee-);
}

.relative {
    position: relative;
    margin: 1% auto;
}

.absolutes {
    position: absolute;
    display: none;
    top: 0;
    z-index: 1;
}

.relative,
.absolutes,
.absolutes>img {
    border-radius: var(--pd_2-);
    width: 550px;
    height: 800px;
}

.solute {
    position: absolute;
    z-index: 1;
    top: 45%;
    aspect-ratio: 1;
    border-radius: 50%;
    width: 45px;
    background-color: var(--c33-);
    color: var(--white-);
    font-size: var(--rem3-);
    font-weight: bold;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

@-webkit-keyframes mouvement {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes mouvement {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}
/*******************************************
Footer
*******************************************/
footer {
    background-color: var(--c33-dark-);
    border-top: var(--rem_1-) solid var(--eee-);
    box-shadow: 0 0 .4em 0 var(--eee-);
    margin-top: var(--rem2-);
}

.footer {
    max-width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.footer>h2>a {
    font-size: var(--rem1_8-);
    color: var(--eee-);
}

.footer_flex {
    flex-basis: 60%;
    justify-content: space-around;
}

.footer_flex>section>h3 {
    color: var(--green-);
}

.footer_flex>section>ul {
    list-style: none;
    padding: 0;
}

.footer_flex>section>ul>li:not(:first-child) {
    margin-top: var(--rem_5-);
}

.footer_flex>section>ul>li>a {
    color: var(--eee-);
}

.footer_flex>section>ul>li>a:hover {
    color: var(--green-);
}

.reseaux {
    justify-content: space-around;
}

.reseaux>a {
    font-size: var(--rem2-);
    color: var(--eee-);
}

.reseaux>a:hover {
    color: var(--green-);
}

/******************************************
Profil
******************************************/
.container {
    gap: var(--rem1-);
}

.container_section>section {
    margin-block: var(--rem1-);
}

.container_section>.friends {
    font-size: var(--rem1_5-);
    color: var(--green-);
}

.container_section>.friends:hover {
    color: var(--rgb-green-);
}

.container_section_one {
    flex-basis: 20%;
    flex-wrap: wrap;
    justify-content: center;
    height: 40vh;
    border: var(--rem_1-) solid var(--eee-);
    border-radius: var(--rem_4-);
    padding: var(--rem_4-);
}

.container_section_one>h2,
.account>a {
    flex-basis: 100%;
    text-align: center;
    color: var(--eee-);
}

.order3 {
    order: 3;
}

.account {
    flex-wrap: wrap;
    justify-content: center;
}

.account>a {
    font-size: var(--rem1_2-);
}

.account>a:not(:first-child) {
    margin-top: var(--rem_6-);
}

.account>a:hover {
    color: var(--green-);
}

.container_section_one>img {
    aspect-ratio: 1;
    width: 250px;
    border-radius: 50%;
    cursor: pointer;
}

.container_section {
    flex-basis: 70%;
}

.section_publish,
.section_search {
    border: var(--rem_1-) solid var(--eee-);
    border-radius: var(--rem_4-);
    height: 5vh;
}

.section_publish {
    gap: var(--rem_2-);
}

.section_publish>textarea {
    flex-basis: 80%;
    background-color: var(--c33-);
    border-top-left-radius: var(--rem_4-);
    border-bottom-left-radius: var(--rem_4-);
    resize: none;
}

.section_publish>input[type="file"] {
    display: none;
}

.picture {
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--rem_1-) solid var(--eee-);
    background-color: var(--green-);
    font-size: var(--rem1_2-);
    border-radius: 50%;
    width: 50px;
    height: auto;
    cursor: pointer;
}

.picture:hover {
    background-color: var(--rgb-green-);
}

.section_publish>textarea,
.section_publish>button,
.section_search>button,
.section_search>input {
    color: var(--eee-);
    border: none;
    outline: none;
}

.section_publish>button,
.section_search>button {
    flex-basis: 20%;
    background-color: var(--green-);
    border-top-right-radius: var(--rem_4-);
    border-bottom-right-radius: var(--rem_4-);
    font-size: var(--rem1_2-);
    cursor: pointer;
}

.section_publish>button:hover,
.section_search>button:hover {
    background-color: var(--rgb-green-);
}

.publication>h2 {
    flex-basis: 100%;
}

/*************************************
Friends
*************************************/
.section_search>input {
    flex-basis: 80%;
    background-color: var(--c33-);
    border-top-left-radius: var(--rem_4-);
    border-bottom-left-radius: var(--rem_4-);
}

.friends_add {
    flex-wrap: wrap;
    gap: var(--rem1_5-);
    justify-content: center;
}

.friends_add>h2,
.friends_add>article>h3,
.friends_add>article>p,
.friends_add>article>form {
    flex-basis: 100%;
}

.friends_add>article>h3 {
    margin-block: var(--rem_8-);
    cursor: pointer;
}

.friends_add>article {
    flex-basis: 20%;
    flex-wrap: wrap;
    justify-content: center;
    border: var(--rem_1-) solid var(--eee-);
    border-radius: var(--rem_4-);
}

.friends_add>article>img {
    aspect-ratio: 1;
    width: 100%;
    border-top-left-radius: var(--rem_4-);
    border-top-right-radius: var(--rem_4-);
}

.friends_add>article>form>button {
    flex-basis: 100%;
    border: none;
    padding: var(--rem_7-) var(--rem_9-);
    background-color: var(--green-);
    color: var(--eee-);
    cursor: pointer;
    border-bottom-left-radius: var(--rem_4-);
    border-bottom-right-radius: var(--rem_4-);
}

.friends_add>article>form>button:hover {
    background-color: var(--rgb-green-);
}

.order4 {
    order: 4;
}

/**************************************
Notifications
**************************************/
.bell_section {
    flex-wrap: wrap;
    gap: var(--rem1_5-);
}

.bell_section>h2 {
    flex-basis: 100%;
    text-align: center;
    border: var(--rem_1-) solid var(--green-);
    border-radius: var(--rem_3-);
    padding: var(--rem_6-);
    cursor: pointer;
}

.bell_section>h2:hover {
    background-color: var(--rgb-green-);
    border: var(--rem_1-) solid var(--eee-);
    color: var(--c33-);
}

.bell_section>.bell {
    flex-basis: 100%;
    cursor: pointer;
    padding: var(--rem_8-);
    border-bottom: var(--rem_1-) solid var(--eee-);
}

.bell_section>.bell:hover,
.sms>article:hover {
    border-radius: var(--rem_3-);
    background-color: var(--ffe-);
}

.bell>div {
    gap: var(--rem_8-);
    align-items: center;
}

.bell>div>img {
    aspect-ratio: 1;
    width: 50px;
    border-radius: 50%;
}

/***************************************
Messages
***************************************/
.other_sms>div {
    overflow-x: scroll;
    gap: var(--rem1-);
}

.other_sms>div>div>a>img,
.article_sms>img {
    aspect-ratio: 1;
    width: 70px;
    border-radius: 50%;
}

.other_sms>div>div {
    position: relative;
}

.absolute {
    position: absolute;
    bottom: 10px;
    left: 83%;
    background-color: var(--green-);
    aspect-ratio: 1;
    width: 10px;
    border-radius: 50%;
}

.article_sms {
    gap: var(--rem1-);
    align-items: center;
    padding: var(--rem_4-);
}

.sms>article {
    margin-top: var(--rem1-);
    border-bottom: var(--rem_1-) solid var(--eee-);
    cursor: pointer;
}

.sms>article>p {
    margin: var(--rem_5-);
}